@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --heading-color: hsl(202, 55%, 16%);
  --secondary-color: hsl(200, 24%, 40%);
  --span-background: hsl(202, 86%, 94%);
  --lime-color: hsl(61, 70%, 52%);
}

body{
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(180deg,hsl(202, 86%, 94%) 100%,hsl(203, 41%, 72%) 0%);
}

.calculator-container{
  background-color: #FFFFFF;
  border-radius: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.calculator-content{
  padding: 20px;
  margin-bottom: 10px;
}

.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

h2{
  color: var(--heading-color);
}

.head button{
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 1rem;
  color: var(--secondary-color);
  text-decoration: underline;
  transition: all .4s ease-in-out;
  cursor: pointer;
}

.head button:hover{
  font-weight: 600;
}

.form-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label{
  color: var(--secondary-color);
  margin-bottom: 5px;
}

.input-group{
  display: flex;
  align-items: center;
  border: 2px solid var(--secondary-color);
  border-radius: .5rem;
}

.input-group span{
  background-color: var(--span-background);
  padding: 10px;
  color: var(--heading-color);
  text-transform: lowercase;
  width: 55px;
  text-align: center;
}

.input-group span:nth-child(1){
border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

.input-group span:nth-child(2){
border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.input-group span:nth-child(3){
border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.input-group input{
  width: 100%;
  height: 35px;
  border: 0;
  outline: 0;
  font-size: 1.3rem;
  padding: 10px 10px;
}

.input-group input:nth-child(1){
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.input-group input:nth-child(2){
  border-top-left-radius: .6rem;
  border-bottom-left-radius: .6rem;
}

.input-group input:nth-child(2){
  border-top-left-radius: .6rem;
  border-bottom-left-radius: .6rem;
}

.block-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.select-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.select-group h3{
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--secondary-color);
}

.checkbox-group {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid var(--secondary-color);
  border-radius: 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--heading-color);
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.checkbox-group:hover {
  border-color: var(--lime-color);
}

.checkbox-group input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background:transparent;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  transition: all 0.3s ease;
}

/* Hover effect on input */
.checkbox-group input[type="checkbox"]:hover {
  border-color: var(--lime-color);
}

/* Checked (clicked) effect */
.checkbox-group input[type="checkbox"]:checked{
  /* background-color: var(--lime-color); */
  border-color: var(--lime-color);
}

/* Dot inside when checked */
.checkbox-group input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 9px;
  height: 9px;
  background-color:var(--lime-color);
  border-radius: 50%;
}

.submit-btn{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  border-radius: 1rem;
  border: 0;
  outline: 0;
  background-color: var(--lime-color);
  color: var(--heading-color);
  font-size: 1.2rem;
  font-weight: 600;
}

.submit-btn img{
  margin-right: 10px;
}

.submit-btn:hover{
  background-color:  rgba(215, 218, 47,0.4);
}